/* Header */
a{
    text-decoration: none;
}
a.nav-link.active {
    font-size: 1000px;
}
a.nav-link.active:hover {
    color: #198754;
}
.navbar-brand {
    color: #000;
    font-weight: 500;
    font-size: 30px;
    color: #198754 !important;

} 
.translate-middle {
    transform: translate(-50%, -50%) !important;
}
/* End Header  */

/* Style Footer  */
.nav-link {
    font-size: 0.9rem;
    transition: color 0.9s;
}
#templatemo_footer a {
    color: #dcdde1;
}
#templatemo_footer a:hover {
    color: #68bb7d;
}
#templatemo_footer ul.footer-link-list li {
    padding-top: 10px;
}
#templatemo_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
}
#templatemo_footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: 0.5s;
}
#templatemo_footer ul.footer-icons li:hover i {
    color: #212934;
    transition: 0.5s;
}
#templatemo_footer .border-light {
    border-color: #2d343f !important;
}
.input-group-text {
    border: none;
    background-color: #198754;
    font-size: 17px;
}
.input-group-text:hover {
    border: none;
    background-color: #47bf85;
}
.footer-style {
    width: 100%;
}
/* End Footer  */

/* Style Preloader  */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    animation: spin 2s linear infinite;

    z-index: 2001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    animation: spin 3s linear infinite;

}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    animation: spin 1.5s linear infinite;

}

@keyframes spin {
    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(360deg);

    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: white;
    z-index: 2000;

    transform: translateX(0);

}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {

    transform: translateX(-100%);

    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {

    transform: translateX(100%);

    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;


    transform: translateY(-100%);

    transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}
/* End Style Loader  */

/* Scroll to top  */
.back-to-top {   
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #ccc;
}
.fa-chevron-up {
    color:#000;
}
/* End Scroll to top  */

/* Animation 1  */
@property --num1 {
    syntax: "<integer>";
    initial-value: 30;
    inherits: false;
}
.div-animation-1 {
    animation: counter1 4s;
    counter-reset: num1 var(--num1);
    font: 800 70px system-ui;
    padding: 2rem;           
}
.div-animation-1::after {
    content: counter(num1);
}
@keyframes counter1 {
    from {
        --num1: 0;
    }
    to {
        --num1: 30;
    }
}
/* End Animation 1  */

/* Animation 2  */
@property --num2 {
    syntax: "<integer>";
    initial-value: 300;
    inherits: false;
}
.div-animation-2 {
    animation: counter2 4s;
    counter-reset: num2 var(--num2);
    font: 800 70px system-ui;
    padding: 2rem;           
}
.div-animation-2::after {
    content: counter(num2);
}
@keyframes counter2 {
    from {
        --num2: 0;
    }
    to {
        --num2: 300;
    }
}
/* End Animation 2  */

/* Animation 3  */
@property --num3 {
    syntax: "<integer>";
    initial-value: 40;
    inherits: false;
}
.div-animation-3 {
    animation: counter3 4s;
    counter-reset: num3 var(--num3);
    font: 800 70px system-ui;
    padding: 2rem;           
}
.div-animation-3::after {
    content: counter(num3);
}
@keyframes counter3 {
    from {
        --num3: 0;
    }
    to {
        --num3: 40;
    }
}
/* End Animation 3  */

/* Animation 4  */
@property --num4 {
    syntax: "<integer>";
    initial-value: 3;
    inherits: false;
}
.div-animation-4 {
    animation: counter4 4s;
    counter-reset: num4 var(--num4);
    font: 800 70px system-ui;
    padding: 2rem;           
}
.div-animation-4::after {
    content: counter(num4);
}
@keyframes counter4 {
    from {
        --num4: 0;
    }
    to {
        --num4: 3;
    }
}
/* End Animation 4  */

/* Content Main Page News */
.fa-star {
    color: #fbb034;
}
h4 > a.content-video {
    font-size: 20px;
}
/* End Content Main 